.carousel {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.fixed-button {
  position: absolute;
  bottom: 10%; /* Adjust based on your preference */
  left: 45%; /* Adjust based on your preference */
  padding: 20px 40px;
  background-color: white; /* Match your preferred color scheme */
  color: #27284e;
  border: none;
  border-radius: 75px;
  cursor: pointer;
  font-weight: bold;
  font-size: large;
  z-index: 1000; /* Ensure it is above other carousel elements */
}

.fixed-button:hover {
  background-color: #1a1b38;
  color: white /* Darken on hover for effect */
}

.carousel-inner {
  display: flex;
  transition: transform 1s ease-out;
  height: 100%;
  position: relative;
}

.carousel-item {
  min-width: 100vw;
  height: 100vh;
  position: absolute;
  opacity: 0;
  transition: opacity 1s ease-out;
}

.carousel-item.active {
  opacity: 1;
  position: relative;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-caption {
  position: absolute;
  top: 60%; /* Position the tagline at 60% height of the image */
  left: 50px;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1.5em;
  max-width: 45%;
  transform: translateY(-50%);
}

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.25);
  border: none;
  color: white;
  font-size: 0.75em;
  cursor: pointer;
  z-index: 1;
}

.carousel-control-prev {
  left: 10px;
}

.carousel-control-next {
  right: 10px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  font-size: 2em;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

@media (max-width : 986px) {
  .carousel {
    width: 104vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
  }
  .carousel-item {
    min-width: 104vw;
    height: 100vh;
    position: absolute;
    opacity: 0;
    transition: opacity 1s ease-out;
  }
}
@media (max-width : 943px) {
  .carousel {
    width: 106vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
  }
  .carousel-item {
    min-width: 107vw;
    height: 107vh;
    position: absolute;
    opacity: 0;
    transition: opacity 1s ease-out;
  }
}
@media (max-width : 933px) {
  .carousel {
    width: 107vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
  }
  .carousel-item {
    min-width: 107vw;
    height: 107vh;
    position: absolute;
    opacity: 0;
    transition: opacity 1s ease-out;
  }
}
@media (max-width : 921px) {
  .carousel {
    width: 108vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
  }
  .carousel-item {
    min-width: 108vw;
    height: 107vh;
    position: absolute;
    opacity: 0;
    transition: opacity 1s ease-out;
  }
}
@media (max-width : 911px) {
  .carousel {
    width: 110vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
  }
  .carousel-item {
    min-width: 109vw;
    height: 107vh;
    position: absolute;
    opacity: 0;
    transition: opacity 1s ease-out;
  }
}
@media (max-width : 900px) {
  .carousel {
    width: 111vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
  }
  .carousel-item {
    min-width: 110vw;
    height: 107vh;
    position: absolute;
    opacity: 0;
    transition: opacity 1s ease-out;
  }
}
@media (max-width : 891px) {
  .carousel {
    width: 112vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
  }
  .carousel-item {
    min-width: 111vw;
    height: 107vh;
    position: absolute;
    opacity: 0;
    transition: opacity 1s ease-out;
  }
}
@media (max-width : 888px) {
  .carousel {
    width: 113vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
  }
  .carousel-item {
    min-width: 112vw;
    height: 107vh;
    position: absolute;
    opacity: 0;
    transition: opacity 1s ease-out;
  }
}
@media (max-width : 880px) {
  .carousel {
    width: 114vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
  }
  .carousel-item {
    min-width: 113vw;
    height: 107vh;
    position: absolute;
    opacity: 0;
    transition: opacity 1s ease-out;
  }
}
@media (max-width : 872px) {
  .carousel {
    width: 115vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
  }
  .carousel-item {
    min-width: 114vw;
    height: 107vh;
    position: absolute;
    opacity: 0;
    transition: opacity 1s ease-out;
  }
}
@media (max-width : 868px) {
  .carousel {
    width: 116vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
  }
  .carousel-item {
    min-width: 115vw;
    height: 107vh;
    position: absolute;
    opacity: 0;
    transition: opacity 1s ease-out;
  }
}
@media (max-width : 861px) {
  .carousel {
    width: 117vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
  }
  .carousel-item {
    min-width: 118vw;
    height: 107vh;
    position: absolute;
    opacity: 0;
    transition: opacity 1s ease-out;
  }
}
@media (max-width : 841px) {
  .carousel {
    width: 118vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
  }
  .carousel-item {
    min-width: 119vw;
    height: 107vh;
    position: absolute;
    opacity: 0;
    transition: opacity 1s ease-out;
  }
}
@media (max-width : 834px) {
  .carousel {
    width: 120vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
  }
  .carousel-item {
    min-width: 120vw;
    height: 107vh;
    position: absolute;
    opacity: 0;
    transition: opacity 1s ease-out;
  }
}
@media (max-width : 824px) {
  .carousel {
    width: 121vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
  }
  .carousel-item {
    min-width: 120vw;
    height: 107vh;
    position: absolute;
    opacity: 0;
    transition: opacity 1s ease-out;
  }
}
@media (max-width : 813px) {
  .carousel {
    width: 123vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
  }
  .carousel-item {
    min-width: 123vw;
    height: 107vh;
    position: absolute;
    opacity: 0;
    transition: opacity 1s ease-out;
  }
}
@media (max-width : 802px) {
  .carousel {
    width: 124vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
  }
  .carousel-item {
    min-width: 124vw;
    height: 107vh;
    position: absolute;
    opacity: 0;
    transition: opacity 1s ease-out;
  }
}
@media (max-width : 794px) {
  .carousel {
    width: 125vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
  }
  .carousel-item {
    min-width: 125vw;
    height: 107vh;
    position: absolute;
    opacity: 0;
    transition: opacity 1s ease-out;
  }
}
@media (max-width : 789px) {
  .carousel {
    width: 126vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
  }
  .carousel-item {
    min-width: 126vw;
    height: 107vh;
    position: absolute;
    opacity: 0;
    transition: opacity 1s ease-out;
  }
}
@media (max-width : 781px) {
  .carousel {
    width: 127vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
  }
  .carousel-item {
    min-width: 127vw;
    height: 107vh;
    position: absolute;
    opacity: 0;
    transition: opacity 1s ease-out;
  }
}
@media (max-width : 776px) {
  .carousel {
    width: 128vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
  }
  .carousel-item {
    min-width: 128vw;
    height: 107vh;
    position: absolute;
    opacity: 0;
    transition: opacity 1s ease-out;
  }
}
@media (max-width : 769px) {
  .carousel {
    width: 130vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
  }
  .carousel-item {
    min-width: 130vw;
    height: 107vh;
    position: absolute;
    opacity: 0;
    transition: opacity 1s ease-out;
  }
}
@media (max-width : 753px) {
  .carousel {
    width: 132vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
  }
  .carousel-item {
    min-width: 132vw;
    height: 107vh;
    position: absolute;
    opacity: 0;
    transition: opacity 1s ease-out;
  }
}
@media (max-width : 747px) {
  .carousel {
    width: 133vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
  }
  .carousel-item {
    min-width: 133vw;
    height: 107vh;
    position: absolute;
    opacity: 0;
    transition: opacity 1s ease-out;
  }
}
@media (max-width : 739px) {
  .carousel {
    width: 135vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
  }
  .carousel-item {
    min-width: 135vw;
    height: 107vh;
    position: absolute;
    opacity: 0;
    transition: opacity 1s ease-out;
  }
}
@media (max-width : 731px) {
  .carousel {
    width: 136vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
  }
  .carousel-item {
    min-width: 136vw;
    height: 107vh;
    position: absolute;
    opacity: 0;
    transition: opacity 1s ease-out;
  }
}
@media (max-width : 726px) {
  .carousel {
    width: 137vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
  }
  .carousel-item {
    min-width: 137vw;
    height: 107vh;
    position: absolute;
    opacity: 0;
    transition: opacity 1s ease-out;
  }
}
@media (max-width : 721px) {
  .carousel {
    width: 138vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
  }
  .carousel-item {
    min-width: 138vw;
    height: 107vh;
    position: absolute;
    opacity: 0;
    transition: opacity 1s ease-out;
  }
}
@media (max-width : 716px) {
  .carousel {
    width: 140vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
  }
  .carousel-item {
    min-width: 140vw;
    height: 107vh;
    position: absolute;
    opacity: 0;
    transition: opacity 1s ease-out;
  }
}
@media (max-width : 711px) {
  .carousel {
    width: 141vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
  }
  .carousel-item {
    min-width: 141vw;
    height: 107vh;
    position: absolute;
    opacity: 0;
    transition: opacity 1s ease-out;
  }
}
@media (max-width : 702px) {
  .carousel {
    width: 142vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
  }
  .carousel-item {
    min-width: 142vw;
    height: 107vh;
    position: absolute;
    opacity: 0;
    transition: opacity 1s ease-out;
  }
}
@media (max-width : 698px) {
  .carousel {
    width: 143vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
  }
  .carousel-item {
    min-width: 143vw;
    height: 107vh;
    position: absolute;
    opacity: 0;
    transition: opacity 1s ease-out;
  }
}
@media (max-width : 694px) {
  .carousel {
    width: 144vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
  }
  .carousel-item {
    min-width: 144vw;
    height: 107vh;
    position: absolute;
    opacity: 0;
    transition: opacity 1s ease-out;
  }
}
@media (max-width : 687px) {
  .carousel {
    width: 146vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
  }
  .carousel-item {
    min-width: 146vw;
    height: 107vh;
    position: absolute;
    opacity: 0;
    transition: opacity 1s ease-out;
  }
}
@media (max-width : 678px) {
  .carousel {
    width: 147vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
  }
  .carousel-item {
    min-width: 147vw;
    height: 107vh;
    position: absolute;
    opacity: 0;
    transition: opacity 1s ease-out;
  }
}
@media (max-width : 674px) {
  .carousel {
    width: 148vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
  }
  .carousel-item {
    min-width: 148vw;
    height: 107vh;
    position: absolute;
    opacity: 0;
    transition: opacity 1s ease-out;
  }
}